<% 1.times do %>
<h1>Currículum Vitae</h1>

<p>Nombre: Alvaro Valencia E.</p>
<p>Correo: aval.es@mail.com</p>
<p>Descripción de tu perfil, hobbies y pasiones: Tenis,Basket, Programación, Netflix, Cine, Comer</p>
<p>Últimos 2 trabajos o estudios: Asisitente de Contabilidad, Vendedor</p>


<% end %>